[Unit]
Description=BIoV tracker  service

[Service]
Restart=always
RestartSec=5
User=biov
WorkingDirectory=/home/biov/
ExecStart=/usr/bin/python chain_tracker_v1.py

[Install]
WantedBy=multi-user.target
